# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CVTON3\C-VTON-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
